# This is needed for bitbake to pick up the includes
BSPDIR := "${TOPDIR}/.."
BBPATH := "${TOPDIR}:${BSPDIR}/sources/meta-chai/"

require conf/variant/common/bblayers.conf

BBLAYERS += " \
    ${BSPDIR}/sources/meta-qt5 \
    ${BSPDIR}/sources/meta-sunxi \
"
